body{
    background-color: blueviolet;
    background-image: url('/images/bg-desktop.svg');
    background-size: auto;
    background-repeat: no-repeat;
}

div.logo{
    margin-top: 35px;
    margin-left: 45px;
}

div.img1{
    margin-top: 50px;
    margin-left: 50px;
}

div.texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}